body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
}

header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    padding: 20px;
}

.post {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}
